<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messaging</title>
</head>
<body>
  <h1>Messaging</h1>
  <% if (user) { %>
    <h2>Friends</h2>
    <ul>
      
    </ul>
  <% } %>
  <script src="/js/friends.js"></script>
</body>
</html>