<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Media</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="header">
    <h1 class="title">Social Media</h1>
    <input type="text" id="search" placeholder="Search">
    <ul class="nav">
      <% if (user) { %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/friends">Friends</a></li>
        <li><a href="/signout">Signout</a></li>
      <% } else { %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/signin">Signin</a></li>
      <% } %>
    </ul>
  </div>
  <script src="/js/home.js"></script>
</body>
</html>